*{
    margin:0;
    padding:0;
    list-style:none;
}
a,u{
    text-decoration:none;
    color:#000;
}
i,em{
    font-style:normal;
}
b{
    font-weight:normal;
}
html,body,.wrap{
    width: 100%;
    height: 100%;
    overflow:hidden;
    font-size:.35rem;
}
.wrap{
    display:flex;
    flex-direction:column;
    background: #F6F6F6;
}
header{
    height:.9rem;
    border-bottom:1px solid #ccc;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 .25rem;
    background: #fff;
    a{
        display:flex;
        width: 80%;
        height:.49rem;
        border:1px solid #9c9c9c;
        line-height:.59rem;
        text-align:center;
        padding:0 .3rem;
        border-radius:.1rem;
        background: #F9F9F9;
        color:#C0C0C0;
        input{
            border:none;
            outline:none;
            background: #F9F9F9;
            color:#C0C0C0;
            margin-left:.2rem;
        }
    }
    u{
        color:#B6B6B6;
    }
}