* {
  margin: 0;
  padding: 0;
  list-style: none;
}

a, u {
  text-decoration: none;
  color: #000;
}

i, em {
  font-style: normal;
}

b {
  font-weight: normal;
}

html, body, .wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: .35rem;
}

.wrap {
  display: flex;
  flex-direction: column;
  background: #F6F6F6;
}

header {
  height: .9rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .25rem;
  background: #fff;
}

header a {
  display: flex;
  width: 80%;
  height: .49rem;
  border: 1px solid #9c9c9c;
  line-height: .59rem;
  text-align: center;
  padding: 0 .3rem;
  border-radius: .1rem;
  background: #F9F9F9;
  color: #C0C0C0;
}

header a input {
  border: none;
  outline: none;
  background: #F9F9F9;
  color: #C0C0C0;
  margin-left: .2rem;
}

header u {
  color: #B6B6B6;
}

section {
  flex: 1;
  overflow-y: scroll;
}

section .swiper-container {
  width: 100%;
}

section .swiper-container .swiper-slide img {
  width: 100%;
}

section .biao {
  background: #fff;
  display: flex;
  height: 1.6rem;
  border-bottom: 1px solid #ccc;
}

section .biao u {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section .biao u b {
  font-size: 0.5rem !important;
  color: #E96F54;
}

section .biao u i {
  font-size: .25rem;
  margin-top: .2rem;
  color: #4A4A4A;
}

section .mi {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .33rem;
}

section .mi img {
  width: 1.44rem;
  height: .96rem;
}

section .mi b {
  margin-left: .3rem;
  display: flex;
  flex-direction: column;
}

section .mi b u {
  font-size: .2rem;
}

section .mi b i {
  font-size: .25rem;
  font-weight: bold;
}

section .mi em {
  margin-left: .15rem;
  font-size: .3rem;
}

section .lipin {
  width: 100%;
  margin-top: .4rem;
}

section .lipin img {
  width: 100%;
  height: auto;
}

.two, .three, .four, .five {
  display: none;
}

footer {
  height: 1rem;
  border-top: 1px solid #ccc;
  display: flex;
}

footer a {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
}

footer a b {
  font-size: .15rem;
  color: #747474;
}

footer a u {
  font-size: 0.45rem !important;
  color: #747474;
}
